In [2]:
# Read Total Dissolved Phospherous Table
import pandas as pd
CBData = pd.read_excel('Chapter11.xlsx', sheet_name=0) 
CBData

           TDP  Year Location
0     0.031318  2012    Lower
1     0.014041  2012    Lower
2     0.012891  2012    Lower
3     0.000907  2012    Lower
4     0.026535  2012    Lower
...        ...   ...      ...
1390  0.008554  2014    Lower
1391  0.001479  2014    Lower
1392  0.007442  2014    Lower
1393  0.004051  2014    Lower
1394  0.001290  2014    Lower

[1395 rows x 3 columns]

In [12]:
#Split Data into three parts by year
LowerCBData = CBData[CBData['Location'] == 'Lower']
CBData2012 = LowerCBData[LowerCBData['Year'] == 2012]
CBData2013 = LowerCBData[LowerCBData['Year'] == 2013]
CBData2014 = LowerCBData[LowerCBData['Year'] == 2014]

import matplotlib.pyplot as plt
boxplot = LowerCBData.boxplot(by='Year')
plt.show()

In [11]:
from scipy import stats
import numpy as np

stats.f_oneway(CBData2012[['TDP']], CBData2013[['TDP']], CBData2014[['TDP']])

F_onewayResult(statistic=array([134.45345659]), pvalue=array([1.62251198e-53]))

In [ ]:
All2012CB = CBData[CBData['Year'] == 2012]
CBDataLower = All2012CB[All2012CB['Location'] == 'Lower']
CBDataMiddle = All2012CB[All2012CB['Location'] == 'Middle']
CBDataUpper = All2012CB[All2012CB['Location'] == 'Upper']

import matplotlib.pyplot as plt
boxplot = All2012CB.boxplot(by='Location')
plt.show()

stats.f_oneway(CBDataLower[['TDP']], CBDataMiddle[['TDP']], CBDataUpper[['TDP']])