In [52]:
#using Worksheet Data 
#get data from Pandas Columns
from scipy import stats
import numpy as np
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor

columns = ["NAME", "Land_Cover_2001", "Land_Cover_2016", "Change"]
sdf = pd.DataFrame.spatial.from_featureclass("Chapter10.gdb\MSCountyRandomPoints_Change")

crossTabTable = pd.crosstab(sdf['NAME'], sdf['Change'])
crossTabTable

Change        0   1
NAME
Forrest      60  10
George       57  13
Greene       53  17
Hancock      53  17
Harrison     49  21
Jackson      63   7
Lamar        54  16
Pearl River  60  10
Perry        58  12
Stone        57  13

In [73]:
from scipy import stats

testTable = crossTabTable.loc[["Lamar", "Harrison"]]

output = stats.chi2_contingency(testTable, correction=False)

print("The value of the test statistic is: {0}".format(output[0]))
print("The two tailed p-value is: {0}".format(output[1]))

testTable

The value of the test statistic is: 0.9183941222776174
The two tailed p-value is: 0.3378969768793054

Change     0   1
NAME
Lamar     54  16
Harrison  49  21