In [45]:
import pandas as pd
import numpy as np
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import matplotlib.pyplot as plt
from scipy import stats

sdf = pd.DataFrame.spatial.from_featureclass("Chapter13_14.gdb\MS_Proper_Hexagons_SpatialJoin")
sdf

,OBJECTID,Join_Count,TARGET_FID,SHAPE
0,1,0,22,"{'rings': [[[521305.3557000002, 1049852.641599..."
1,2,0,23,"{'rings': [[[530611.4042999996, 1044479.791899..."
2,3,0,24,"{'rings': [[[539917.4528999999, 1049852.641599..."
3,4,0,58,"{'rings': [[[511999.30709999986, 1055225.4912]..."
4,5,0,59,"{'rings': [[[521305.3557000002, 1060598.340900..."
...,...,...,...,...
1344,1345,0,1877,"{'rings': [[[567835.5987, 1581764.7577999998],..."
1345,1346,0,1879,"{'rings': [[[586447.6957999999, 1581764.757799..."
1346,1347,0,1881,"{'rings': [[[605059.7929999996, 1581764.757799..."
1347,1348,0,1883,"{'rings': [[[623671.8902000003, 1581764.757799..."
1348,1349,0,1885,"{'rings': [[[642283.9874, 1581764.7577999998],..."

In [46]:
VMR = sdf["Join_Count"].var() / sdf["Join_Count"].mean()
VMR

1.0450117671134762

In [47]:
df = (sdf["Join_Count"].count() - 1)
chiSQ = VMR * df
chiSQ

1408.675862068966

In [48]:
pvalue = 1 - stats.chi2.cdf(chiSQ, df)
pvalue

0.12215544612346463