In [14]:
import pandas as pd
import numpy as np
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import matplotlib.pyplot as plt

columns = ['name', 'HDI_2010', 'Y2009']
sdf = pd.DataFrame.spatial.from_featureclass("Chapter10.gdb\HDI_Female_Labor_Force")
sdf = sdf[columns] 
sdf = sdf.dropna()[sdf["Y2009"]!=0]
sdf["HDI_CAT"] = np.where(np.floor(sdf["HDI_2010"] + 0.4) == True, 1,2)
sdf

__main__:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                     name  HDI_2010      Y2009  HDI_CAT
1             Afghanistan     0.453  47.898854        2
2                  Angola     0.504  50.251024        2
4                 Albania     0.708  76.761098        1
7    United Arab Emirates     0.824  76.399561        1
8               Argentina     0.799  75.464098        1
..                    ...       ...        ...      ...
234                 Samoa     0.688  72.063561        1
235                 Yemen     0.484  64.593756        2
236          South Africa     0.638  51.611317        1
237                Zambia     0.530  47.814537        2
238              Zimbabwe     0.459  48.450488        2

[177 rows x 4 columns]

In [15]:
ax1 = sdf.plot.scatter(x='HDI_2010',y='Y2009',c='HDI_CAT', colormap='Set1')
plt.show()

In [16]:
df = sdf[["Y2009", "HDI_CAT"]]
boxplot = df.boxplot(by='HDI_CAT')
plt.show()

In [17]:
from scipy import stats
import numpy as np

#This one requires two samples.  It is the Two Sample Difference in Means Test (Independent)

a = df[df["HDI_CAT"] == 1]["Y2009"]
b = df[df["HDI_CAT"] == 2]["Y2009"]
stats.ttest_ind(a,b, equal_var=False)

Ttest_indResult(statistic=16.338877876580494, pvalue=1.0537875903941455e-27)

In [18]:
#This one requires two samples.  It compares the ranks of the values in the samples.  
#It is the non-parametric version of the Two Sample Difference in Means Test (Independent)

stats.mannwhitneyu(a,b, alternative="two-sided")

MannwhitneyuResult(statistic=6402.0, pvalue=1.895551891728862e-23)