In [4]:
from scipy import stats
import numpy as np

#This one requires two samples datasets and you are comparing them.  
#The null hypothosis is that both samples are drawn from the same population
#There is an option on this test to specifiy if the variance's of each are the same
#This is called "pooled" if they are assummed not equal it is called "unpooled"

a = [1,2,3,1,2,3]
b = [1,2,4,1,2,3,1,2,3]
stats.ttest_ind(a,b, equal_var=True)

Ttest_indResult(statistic=-0.2117252611449484, pvalue=0.8356046299871862)

In [5]:
stats.ttest_ind(a,b, equal_var=False)

Ttest_indResult(statistic=-0.21926450482675738, pvalue=0.8301065116228219)

In [8]:
#using Worksheet Data 
#get data from Pandas Columns
from scipy import stats
import numpy as np
import pandas as pd
table = pd.read_excel('../data/workbook-data-v2.xlsx', sheet_name="Chapter 10 - Water Use") 
table.head()

  _Meter_ID  Total Water Use (No Pool) _Meter_ID.1  Total Water Use (Pool)
0  83342852                         77    83214832                      32
1  83323290                         23    83362121                      48
2  74423965                         74    83626307                      73
3  83362264                         25    83186589                      62
4  51012015                         67    83626366                      84

In [9]:
a = table["Total Water Use (No Pool)"]
b = table["Total Water Use (Pool)"]
stats.ttest_ind(a,b, equal_var=False)

Ttest_indResult(statistic=-2.1615122899263683, pvalue=0.03496260101735393)